:root {
  scroll-snap-type: y mandatory;

  --ff: 'Segoe UI', sans-serif;
  --text: #0A0903;
  --bg: #fbf6f0;
  --primary: #EF767A;
  --secondary: #6daeef;
  --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: var(--text);
  background-color: var(--bg);
}
.header {
  background: var(--bg);
}

.dark-mode {
  /* change later */
  --text: #F1E3D3;
  --bg: #121212;
}

body {
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  margin: 0;
}

.hospital-card {
  border: 2px solid var(--text);
  padding: 4px;
  margin: 16px;
  width: 30%;
  background-color: var(--bg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
